_build/
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.install
.merlin
__pycache__/
benchmarks/__pycache__
tex/contdice.synctex.gz
tex/contdice.pdf
tex/contdice.out
tex/contdice.log
tex/contdice.fls
tex/contdice.fdb_latexmk
tex/contdice.aux
output.dice
tex/contdice.bbl
tex/contdice.blg
cdice/.DS_Store
scale.cdice
julia-1.11.5/
Alea.jl/
tex/slice.aux
tex/slice.bbl
tex/slice.blg
tex/slice.fdb_latexmk
tex/slice.fls
tex/slice.log
tex/slice.out
tex/slice.pdf
tex/slice.synctex.gz
