_build/
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.install
.merlin
__pycache__/
benchmarks/__pycache__
tex/contdice.synctex.gz
tex/contdice.pdf
tex/contdice.out
tex/contdice.log
tex/contdice.fls
tex/contdice.fdb_latexmk
tex/contdice.aux
output.dice
parametrize.cdice
tex/contdice.bbl
tex/contdice.blg
