_build/
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.install
.merlin
__pycache__/
benchmarks/__pycache__
output.dice
output.rkt
cdice/.DS_Store
scale.slice
julia-1.11.5/
Alea.jl/
tex/slice.aux
tex/slice.bbl
tex/slice.blg
tex/slice.fdb_latexmk
tex/slice.fls
tex/slice.log
tex/slice.out
tex/slice.pdf
tex/slice.synctex.gz
CLAUDE.md
build.log
